@charset "utf-8";

/* Macro Layout */
body {
	background-color: #f2f3f3;
}

#content {
	clear: both;
	width: 100%;
	padding-top: 0em;
    padding-left: .5em;
    padding-right: .5em;
	text-align: left;
}


/*  Typographic Layout */
a img {
	border-style: none;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	line-height: 2em;
}

h2 {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 2em;
}

.question {
	font-style: italic;
}

.answer {
}


/*  Timeline */
.author, .co-author, .year, .innovations, .keywords, .framework, .details {
	text-align: left;
	font-size:   90%;
}

#search-facet, #framework-facet, #keyword-facet, #author-facet, #type-colors {
	font-size: small;
}
