{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
<section id="content" class="body">
    <h1 class="entry-title">{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">get
    the pdf</a>{% endif %}
    {{ page.content }}
</section>
<section id="content" class="body">
<h3>{% if FEED_ALL_ATOM %}
<a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"><img src="./theme/images/icons/atom.gif" alt="subscribe to atom feed" border="0" width=24px /></a>
{% endif %}
Recent News
</h3>
<dl>
{% for article in dates[:HOME_NEWS_COUNT] %}
    {% if article.category|string == "Talks" %}
        <dt>{{ article.locale_date }}: Talk</dt>
    {% elif article.category|string == "Posters" %}
        <dt>{{ article.locale_date }}: Poster</dt>
    {% elif article.category|string == "Papers" %}
        <dt>{{ article.locale_date }}: Paper</dt>
    {% elif article.category|string == "Books" %}
        <dt>{{ article.locale_date }}: Book</dt>
    {% else %}
    <dt>{{ article.locale_date }}: Blog Post</dt>
    {% endif %}
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
{% endfor %}
</dl>
</section>
{% endblock %}
